.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products {
  display: flex;
  list-style: none;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.products li {
  border: 1px solid grey;
  padding: 20px;
}
